{% extends "base.html" %}

{% block styles%}
    {% load static %}
    <link rel="stylesheet"href="{% static 'hotel_app/home_css.css' %}">
{% endblock %}
{% block bodycontent %}
    {% for message in messages %}
    <div class="success">{{ message }}</div>
    {% endfor %}
    <section class="hero">
        <div class="hero-content">
            <h1>Horiz</h1>
            <p>erg
            </p>
            <a href="" class="btn">Book Now</a>
        </div>
    </section>
    <footer>
        <div class="footer-bottom">
        </div>
    </footer>
{% endblock %}