{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link rel="stylesheet" href="{% static 'accounts/login_css.css' %}" />
    </head>
    <body>
        <div class="container">
            <div class="left" id="left-section"></div>

            <div class="right" id="right-section">
                <h2 class="form-title">Login Account</h2>
                <form method="post" id="login-form">
                    {% csrf_token %}
                    <label for="username" class="form-label">Username</label>
                    <input
                        type="text"
                        id="username"
                        name="username"
                        class="form-input"
                        required
                    />
                    <label for="password" class="form-label">Password</label>
                    <input
                        type="password"
                        id="password"
                        name="password"
                        class="form-input"
                        required
                    />
                    <button type="submit" class="form-button">Login</button>
                </form>
            </div>
        </div>
    </body>
</html>
